body{
    background-color:burlywood ;
}

header{
    margin: 2px;
    /* background-image: url(codes.jfif); */
    color: #fff;
    padding: 1em;
    text-align: center;
}

h1{
    /* background-color: #fff; */
    border: red;
}

/* header{
    background-image: url(codes.jfif);
    /* border-radius: ; */
/* } */

/* h1, h2, p, a{
    color: aliceblue;
    text-align: center;
} */ 