header{
    background: linear-gradient(rgb(0, 140, 255), white);
    padding: 2em;
    width: auto;
}

.hcolor{
    text-align: center;
    color: orange;
}

fieldset{
    background: linear-gradient(blueviolet, rgb(29, 13, 53));
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    /* position: absolute; */
}

#fieldcolor{
    color: black;
}

.divfield{
    display: inline-block;
}

legend{
    color: white;
}

label{
    color: white;
    padding: 200px 0px;
    
}

input{
    padding: 5px;
    
}

body{
    background-color: white;
}