@import url(https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbE01eGp4VW1rbXpkd0lqMlVYYlhFdWl1Y1M1UXxBQ3Jtc0tsdm9Ba0g0bGxMXzd2MTF3TVBZUWVITmNxUkxJZUVYaTd2MUlKamVqaG0wdTgxaGhXVk5ESTI2bTA5X3pVNm8wLTdyZ3R5UWMtZ20yT2FSTVFVM3BxTjZXaDlvRkY4cUdFd0xESEdqSG1CM29pcUpTVQ&q=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DPoppins%3Awght%40100%3B200%3B300%3B400%26display%3Dswap%27%29%3B&v=qKWApkuhNu8);

:root {
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;

    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200))

}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_form{
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px; 
    /* Faz ter o mesmo espaçamento entre os ícones
    Auxilia por evitar precisar usar margin-bottom*/
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
}

#form_header{
    display: flex;
    align-items: center; /* Centraliza verticalmente para que a Lua fique no meio*/
    justify-content: space-between; 
    /* Faz com que a Lua e o Login se distanciem*/

}

#form_header h1{
    font-size: 40px;
    position: relative;
}

#form_header h1::before{
    position: absolute;
    content: "";
    width: 43%;
    background-color: var(--color-purple-50);
    height: 3px;
    bottom: 4px;
    border-radius: 5px;
}

#mode_icon{
    cursor: pointer;
    font-size: 20px;
}

#social_media{
    display: flex;
    justify-content: space-around;
}

#social_media img{
    width: 35px;
}